{% extends "pages/patchouli/page.html.jinja" %}
{% set d = mediatransport.diagrams.context("api") %}
{#
despite the name, diagrams also contains all the
localization features, so it's useful here
#}

{% block body %}
{% include "csscheck.html.jinja" without context %}

<p>
{{d.tl("intro1")}}
</p>
<p>
{{d.tl("intro2")}}
</p>
<p>
{{d.tl("intro3")}}
</p>

<h3>{{d.tl("overview")}}</h3>
<p>
{{d.tl("overview.1")}}
</p>
<p>
{{d.tl("overview.2")}}
</p>
{{d.codeblock("overview.code1")}}
<p>
{{d.tl("overview.3")}}
</p>
<p class="mediatransport-callout -warning">
{{d.tl("overview.4")}}
</p>
<p>
{{d.tl("overview.5")}}
</p>

<h3>{{d.tl("buffers")}}</h3>
<p class="mediatransport-hatnote">
{{d.tl("buffers.h1")}}
</p>
<p class="mediatransport-hatnote">
{{d.tl("buffers.h2")}}
</p>
<p>
{{d.tl("buffers.1")}}
</p>

<h4>{{d.tl("buffers.manage")}}</h4>

{# :close() #}
<h5>{{d.tl("buffers.manage.close")}}</h5>
<p>
{{d.tl("buffers.manage.close.1")}}
</p>
<ul>
  <li>{{d.tl("buffers.manage.close.2")}}</li>
  <li>{{d.tl("buffers.manage.close.3")}}</li>
  <li>{{d.tl("buffers.manage.close.4")}}</li>
</ul>
<p>
{{d.tl("buffers.manage.close.5")}}
</p>

{% endblock body %}